<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.gehennas.dockerfileplugin.editors.DockerFileEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            filenames="Dockerfile"
            icon="icons/sample.gif"
            id="org.gehennas.dockerfileplugin.editors.DockerFileEditor"
            name="Dockerfile Editor">
      </editor>
   </extension>

</plugin>
